@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:#1B262C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
}
.home{
  position: relative;
  max-width: 1440px;
  max-height: 1148px;
}
h2{
  width: 281px;
  height: 60px;
  font-size: 40px;
}
h3{
  font-weight: 300px;
  font-size: 40px;
  line-height:65px;
  text-align: center;
  left: 331px;
  right: 331px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 327px;
  height: 486px;
  background: #24353E;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  position: relative;
  top: 200px;
  left: 52px;
  right: 52px;
  bottom: 20px;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 100px;

  position:relative;
  width: 1272.42px;
  height: 547.46px;
  left: 85px;
  top: 547px;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}
li{
  display:inline;
  font-size: 20px;
}
button{
  font-size: 20px;
  width: 135px;
  height: 60px;

  background: linear-gradient(108.5deg, #3A5E72 4.95%, #5C93B1 132.43%);
  box-shadow: inset 7px 7px 10px rgba(79, 136, 167, 0.3);
  border-radius: 20px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 168px;
  position: absolute;
  width: 1277px;
  height: 78px;
  left: 80px;
  top: 51px;
}
.content{
  position: absolute;
  width: 778px;
  height: 130px;
  left: 331px;
  top: 216px;
}
.filters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 182px;

  position: absolute;
  width: 1270px;
  height: 105px;
  left: 85px;
  top: 421px;
}
input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 50px 10px 30px;
  color: #FFFF;
  width: 80px;
  height: 35px;

  background: #24343D;
  box-shadow: inset 10px 10px 30px rgba(36, 52, 61, 0.6);
  border-radius: 12px;
}

.filter-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 38px;

  width: 630px;
  height: 50px;

  background: #24343D;
  border-radius: 12px;
}
.weather-icon-1{
  position: absolute;
  width: 232.07px;
  height: 232.07px;
  left: 70px;
  top: 0px;
}
.weather-icon-2{
  position: absolute;
  width: 232.07px;
  height: 232.07px;
  left: 559.93px;
  top: 0px;
}
.weather-icon-3{
  position: absolute;
  width: 232.07px;
  height: 232.07px;
  left: 1014px;
  top: 0px;
}