@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h2{
  width: 281px;
  height: 60px;
  font-size: 40px;
}
h3{
  font-weight: 300px;
  font-size: 40px;
  line-height:65px;
  text-align: center;
  left: 331px;
  right: 331px;
}
h4{
  width: 251px;
  height: 65px;
  font-weight: 700;
  font-size: 25px;
  line-height: 65px;
}
.logo{
  display: inline-block;
}
.app{
  position: relative;
  width: 100%;
  height: 100vh;
  color: #FFFF;
}
.app:before{
  content: '';
  background: url('./assets/background.jpeg') no-repeat center center/cover;
  position: absolute;
  width: 120%;
  height: 180%;
  top: 0;
  left: 0;
  z-index: -1;
}

.weather-icon-1{
  position: absolute;
  width: 345.07px;
  height: 295.07px;
  left: 95px;
  top: -64px;
}
.weather-icon-2{
  position: absolute;
  width: 190.07px;
  height: 190.07px;
  left: 580.93px;
  top: 0px;
}
.weather-icon-3{
  position: absolute;
  width: 232.07px;
  height: 232.07px;
  left: 1014px;
  top: 0px;
}
.card {
  background-color: rgba(36, 53, 62, 0.4); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 327px;
  height: 486px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  position: relative;
  top: 200px;
  left: 52px;
  right: 52px;
  bottom: 20px;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 100px;

  position:relative;
  width: 1272.42px;
  height: 547.46px;
  left: 85px;
  top: 547px;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}

li{
  display:inline;
  font-size: 20px;
}

button{
  font-size: 20px;
  color: #FFFFFF;
  width: 135px;
  height: 60px;

  background: linear-gradient(108.5deg, #3A5E72 4.95%, #5C93B1 132.43%);
  box-shadow: inset 7px 7px 10px rgba(79, 136, 167, 0.3);
  border-radius: 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 168px;
  position: absolute;
  width: 1277px;
  height: 78px;
  left: 80px;
  top: 51px;
}
.content{
  position: absolute;
  width: 778px;
  height: 140px;
  left: 331px;
  top: 216px;
}
.filters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 182px;

  position: absolute;
  width: 1270px;
  height: 105px;
  left: 85px;
  top: 421px;
}

input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 50px 10px 30px;
  color: #FFFFFF;
  width: 200px;
  height: 35px;

  background: #24343D;
  box-shadow: inset 10px 10px 30px rgba(36, 52, 61, 0.6);
  border-radius: 12px;
}
::placeholder{
  color: #f8f8f8;
}
.filter-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 38px;

  width: 830px;
  height: 50px;

  background: #24343D;
  border-radius: 12px;
}