@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:#1B262C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
}
.home{
  width: 100%;
  height: 100%;
  position: relative;
}
h2{
  width: 281px;
  height: 60px;
  font-size: 40px;
}
h3{
  font-weight: 300px;
  font-size: 40px;
  line-height:65px;
  text-align: center;
  left: 331px;
  right: 331px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 327px;
  height: 486px;
  background: #24353E;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 100px;

  position:absolute;
  width: 1272.42px;
  height: 547.46px;
  left: 85px;
  top: 547px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 50px;
}
li{
  display:inline;
  font-size: 25px;
}
button{
  font-size: 20px;
  width: 135px;
  height: 60px;

  background: linear-gradient(108.5deg, #3A5E72 4.95%, #5C93B1 132.43%);
  box-shadow: inset 7px 7px 10px rgba(79, 136, 167, 0.3);
  border-radius: 20px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 168px;
}
.content{
  position: absolute;
  width: 778px;
  height: 130px;
  left: 331px;
  top: 216px;
}

